<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">

    <h2>로또 당첨 가게 리스트</h2>

    <table class="table table-condensed">
        <thead>
        <th>회차</th>
        <th>이름</th>
        <th>방식</th>
        <th>주소</th>
        </thead>
        <tbody>
        <tr th:each="data : ${storeData}">
            <td th:text="${data.lottoDataEntity.id}"></td>
            <td th:text="${data.nickname}"></td>
            <td th:if="${data.auto == true}">자동</td>
            <td th:if="${data.auto == false}">수동</td>
            <td th:text="${data.location}"></td>
        </tr>
        </tbody>
    </table>
</div>

</html>
